.user-red {
  color: #f00;
}

.user-orange {
  color: #ff8000;
}

.user-yellow {
  color: #c0c000;
}

.user-blue {
  color: #00f;
}

.user-cyan {
  color: #00c0c0;
}

.user-green {
  color: #008000;
}

.user-brown {
  color: #804000;
}

.user-grey {
  color: #808080;
}

.user-unrated {
  color: #000;
}

.no-link-style {
  color: inherit;
  text-decoration: none;
}