:root {
  font-family: Roboto, "Noto Sans JP", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(255 255 255 / 87%);
  color-scheme: light dark;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.user-red {
  color: #f00;
}

.user-orange {
  color: #ff8000;
}

.user-yellow {
  color: #c0c000;
}

.user-blue {
  color: #00f;
}

.user-cyan {
  color: #00c0c0;
}

.user-green {
  color: #008000;
}

.user-brown {
  color: #804000;
}

.user-grey {
  color: #808080;
}

.user-unrated {
  color: #000;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
